
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background-color: #dfe6e9;
  text-align: center;

  display: flex;
  flex-direction: column;

}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(233, 202, 243);
  color: rgb(31, 29, 29);
  height: 60px;
  font-size: 2rem;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  justify-content: center;
  align-items: center;

  
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cec9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 1.55rem;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 85px;
  padding-right: 99px;
  font-size: 0.85rem;
}

.info {
  margin: 10px 30px;
  color: #1a7e76;
}


.user-list ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

